@import "../data/styles.css";

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.homepage-container {
  padding-top: 25px;
}

.homepage-lightbulb-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: inline-block;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}

.homepage-lightbulb-container:active {
  transform: translateY(4px);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}

.homepage-lightbulb-container button,
svg {
  width: 100%;
  height: 100%;

  color: var(--primary-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.homepage-intro-card {
  display: column;
}

.homepage-title {
  width: 100% !important;
  margin-top: 20px;
}

.homepage-subtitle {
  width: 100% !important;
  margin-top: 10px;
}

.homepage-socials {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 30px;
}

.homepage-social-icon {
  padding-right: 10px;
  font-size: 25px;
  width: 40px;
  height: 40px;

  fill: var(--tertiary-color) !important;
  transition: fill 0.3s ease;
}
