@import "./data/styles.css";

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("assets/fonts/Roboto500.woff2") format("woff2");
}

@font-face {
  font-family: "Heebo";
  font-weight: 300;
  src: url("assets/fonts/Heebo-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--quaternary-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  transition:
    background-color 1s ease,
    color 0.3s ease;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
